<%= form_for @user, as: :user, url: path, :html => {:class => "user_form"} do |f| %>
	<div class="form-group">
		<%= f.label :name, "Name:" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control form-control-user", placeholder: "Enter User's Name..", required: 'required' %>
  </div>

  <div class="form-group">
  	<%= f.label :email, "Email:" %>
  	<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", placeholder: "Enter User's Email..", required: 'required' %>
  </div>

  <div class="form-group">
  	<%= f.label :roles, class: "d-flex justify-content-between" do %>
  		Role:
  		<%= link_to "#", 'data-toggle': "modal", 'data-target': "#addRoleModal", class: "openRoleModel" do %>
  			<i class="fas fa-plus fa-sm"></i>Add Role
  		<% end %>
  	<% end %>
  	<%= f.select(:roles, @user.roles.collect {|p| p.name }.compact, { include_blank: false }, class: "form-control form-control-user select2-offscreen", id: "select_roles", multiple: "multiple") %>
  </div>

  <div class="form-group">
  	<%= f.label :permissions, "Permissions:" %>
  	<div class="card permissionCard">
      <div class="card-header mb-3">
		  	<ul class="nav nav-tabs" id="myTab" role="tablist">

		  		<% @controller_types.each_with_index do |con, index| %>
					  <li class="nav-item">
					    <a class="nav-link <%= index == 0 ? 'active' : '' %>" id="<%= con.downcase %>-tab" data-toggle="tab" href="#<%= con.downcase %>" role="tab" aria-controls="home" aria-selected="true"><%= make_string_camel_case(con) %></a>
					  </li>
				  <% end %>

				</ul>
			</div>
			<div class="card-body">
				<div class="tab-content" id="myTabContent">
					<% @controller_types.each_with_index do |con, index| %>
				  	<div class="tab-pane fade show <%= index == 0 ? 'active' : '' %>" id="<%= con.downcase %>" role="tabpanel" aria-labelledby="<%= con.downcase %>-tab">
				  		<div class="d-flex flex-wrap">
						  	<%= f.collection_check_boxes :permission_ids, Permission.all.where(controller_type: con), :id, :name do |b| %>
						  		<div class="col-sm-3 d-flex align-items-center selectFormControl">
						  			<%= b.check_box(class: 'permission_checkbox') %>
					      		<%= b.label(class: 'permission_label') %>
						  		</div>
						  	<% end %>
						  </div>
				  	</div>
				  <% end %>
				</div>
			</div>
		</div>
  	
  	<!-- <div class="row">
		  <%# get_controllers.each do |controller| %>
	  		<div class="col-sm-3 selectFormControl">
		    	<%#= f.check_box :permission_ids, { multiple: true }, controller, false %>
		    	<%#= f.label controller %>
		  	</div>
		  <%# end %>
		</div> -->
  </div>

	<%= f.submit (action_name == "new" ? "Create User" : "Update User"), class: "btn btn-primary btn-user btn-block" %>
<% end %>

<!-- Logout Modal-->
<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new Role</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
      		<label>Role:</label>
      		<%= text_field_tag 'role', nil, class: "form-control form-control-user" %>
      	</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <%= link_to 'Create', "javascript:;", class: 'btn btn-primary addRoleBtn' %>
      </div>
    </div>
  </div>
</div>

<div class="loaderWrapper">
	<img src="/assets/loader.gif">
</div>

<script type="text/javascript">
	$(document).ready(function(){

		// Create Role Ajax Starts

		$('.addRoleBtn').click(function(){
			$(".loaderWrapper").show();
			$.ajax({
			  type: "POST",
			  dataType: 'json',
			  url: "<%= roles_path %>",
			  data: { 
			  	role: {
			  		name: $("#role").val()
			  	}
			  },
			  success(data) {
			  	$("#addRoleModal").modal("hide");
			  	$('#addRoleModal').on('hidden.bs.modal', function() {
					  if(data.status == 403){
				  		$('#content .container-fluid').html("<%= j render(:partial => 'errors/permission_denied') %>");
				  	}else{
					   	if(data["notice"].length > 0){
					   		$.notify(data["notice"] , "success");
					   	}
					   	$(".loaderWrapper").hide();
					  }
					});
			  },
			  error(data) {
			    return false;
			  }
			})
		})

		// Create Role Ajax Ends

		//-----------------------------------------------------//

		// Select2 multiple tags functionality Starts

		$("#select_roles").select2().val($("#select_roles>option").map(function(){return $(this).val();})).trigger("change");
		$("#select_roles").select2({
			placeholder: "Select a role",
	    ajax: {
	      url: "<%= fetch_roles_path %>",
	      dataType: 'json',
	      delay: 250,
	      data: function (params) {
	        return {
	          q: params.term, // search term
	        };
	      },
	      processResults: function (data, params) {
	      	// set value in place of id for select options
	        $.each(data,function(i,v){
	        	v.id = v.name
	        })
	        return {
	          results: data
	          // pagination: {
	          //   more: (params.page * 30) < data.total_count
	          // }
	        };
	      },
	      cache: true
	    },
	    escapeMarkup: function (markup) {
	      return markup; // let our custom formatter work
	    },
	    minimumInputLength: 1,
	    templateResult: function(repo) {
	      return repo.name || repo.text;
	    },
	    templateSelection: function(repo) {
	      return repo.name || repo.text;
	    }
	  });

	  // Select2 multiple tags functionality Ends

	  //----------------------------------------------------//

		// JQuery Validator Starts

	  var validobj = $('.user_form').validate({
	  	ignore: 'input[type=hidden]', // it ignores the hidden fields
	  	errorClass: "error",
	  	errorPlacement: function (error, element) {
        var elem = $(element);
        if(element.attr('name') == "user[roles][]"){
	  			error.insertAfter(element.siblings(".select2"))
        }else{
        	error.insertAfter(element);
        }
      },
      highlight: function (element, errorClass, validClass) {
        var elem = $(element);
        if(elem.hasClass("select2-offscreen")) {
          elem.siblings(".select2").find(".select2-selection").addClass(errorClass);
        }else {
          elem.addClass(errorClass);
        }
      },
      unhighlight: function (element, errorClass, validClass) {
        var elem = $(element);
        if(elem.hasClass("select2-search__field")) {
          $(element).parents('.select2-selection').removeClass(errorClass);
        }else {
          elem.removeClass(errorClass);
        }
      },
			rules: {
				'user[name]': 'required',
				'user[email]': {
					required: true,
      		email: true,
				},
				// 'user[roles][]': 'required'
			},
			messages: {
				'role[name]': 'This field is required',
				'user[email]': {
					required: 'This field is required',
					email: 'Enter a valid email'
				},
				// 'user[roles][]': 'This field is required'
			},
	  	submitHandler: function(form) {
		    form.submit();
		  }
		});

		$(document).on("change", ".select2-offscreen", function() {
      if (!$.isEmptyObject(validobj.submitted)) {
        validobj.form();
      }
    });

    // JQuery Validator Ends

    //------------------------------------------------------//

    // Permission checkbox handling

    $('.permission_checkbox').change(function(){
    	debugger
  		var label = $(this).siblings('.permission_label').text();
  		var label_array = label.split("#")
  		var controller_path = label_array[0]
  		var action_name = label_array[label_array.length - 1]
  		var group_label;
  		var fetch_roles;
  		if(action_name == "edit"){
  			group_label = $(".permission_label:contains(" + controller_path + "#update" + ")")
  		}else if(action_name == "update"){
  			group_label = $(".permission_label:contains(" + controller_path + "#edit" + ")")
  		}else if(action_name == "new"){
  			group_label = $(".permission_label:contains(" + controller_path + "#create" + ")")
  		}else if(action_name == "create"){
  			group_label = $(".permission_label:contains(" + controller_path + "#new" + ")")
  		}
  		if(this.checked){
				group_label.siblings(".permission_checkbox").prop('checked', true);
				if(controller_path == "users"){
					$(".permission_label:contains(roles#fetch_roles)").siblings(".permission_checkbox").prop('checked', true);
				}
			}else{
				group_label.siblings(".permission_checkbox").prop('checked', false);
				if(controller_path == "users"){
					debugger
					if(!$(".permission_label:contains(users#new)").siblings(".permission_checkbox").prop('checked') && !$(".permission_label:contains(users#edit)").siblings(".permission_checkbox").prop('checked')){
						$(".permission_label:contains(roles#fetch_roles)").siblings(".permission_checkbox").prop('checked', false);
					}
				}
			}
    })
	})
</script>