<div class="d-flex align-items-center justify-content-center error-box">
  <!-- 404 Error Text -->
  <div class="text-center">
    <div class="error-text mx-auto" data-text="404">403</div>
    <p class="lead text-gray-800 mb-5">Permission Denied</p>
    <p class="text-gray-500 mb-3">It looks like permission is denied...</p>
    <!-- <a href="index.html">&larr; Back to Dashboard</a> -->
    <%= link_to "Return to home page ->", "/", class: "lead text-gray-800" %>
  </div>
</div>
