<div class="d-flex align-items-center justify-content-center error-box">
	<div class="text-center">
	  <div class="error-text mx-auto" data-text="500">500</div>
	  <p class="lead text-gray-800 mb-5">Internal Server Error</p>
	  <p class="text-gray-500 mb-3">We're sorry, but something went wrong.</p>
	  <!-- <a href="index.html">&larr; Back to Dashboard</a> -->
	  <%= link_to "Return to home page ->", "/", class: "lead text-gray-800" %>
	</div>
</div>