<div class="d-flex align-items-center justify-content-center error-box">
	<div class="text-center">
	  <div class="error-text mx-auto" data-text="404">404</div>
	  <p class="lead text-gray-800 mb-5">Page Not Found</p>
	  <p class="text-gray-500 mb-3">It looks like you found a glitch in the matrix...</p>
	  <!-- <a href="index.html">&larr; Back to Dashboard</a> -->
	  <%= link_to "Return to home page ->", "/", class: "lead text-gray-800" %>
	</div>
</div>