<div class="d-flex align-items-center justify-content-center error-box">
	<div class="text-center">
	  <div class="error-text mx-auto" data-text="422">422</div>
	  <p class="lead text-gray-800 mb-5">Unacceptable</p>
	  <p class="text-gray-500 mb-3">Maybe you tried to change something you didn't have access to.</p>
	  <!-- <a href="index.html">&larr; Back to Dashboard</a> -->
	  <%= link_to "Return to home page ->", "/", class: "lead text-gray-800" %>
	</div>
</div>