<!-- <h2>Log in</h2>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#= f.label :password %><br />
    <%#= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%# if devise_mapping.rememberable? %>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <%# end %>

  <div class="actions">
    <%#= f.submit "Log in" %>
  </div>
<%# end %>

<%#= render "devise/shared/links" %>

 -->
<!-- Outer Row -->
<div class="row justify-content-center">

  <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
              </div>
              <%= form_for(resource, html: {class: "user"}, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", placeholder: "Enter Email Address..." %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-user", placeholder: "Password" %>
                </div>
                <% if devise_mapping.rememberable? %>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <%= f.check_box :remember_me, class: "custom-control-input", id: "customCheck" %>
                      <%= f.label :remember_me, class: "custom-control-label", for: "customCheck" %>
                    </div>
                  </div>
                <% end %>
                <%= f.submit "Log in", class: "btn btn-primary btn-user btn-block" %>
                <hr>
                <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-google btn-user btn-block" do %>
                  <i class="fab fa-google fa-fw"></i> Register with Google
                <% end %>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                </a>
              <% end %>
              <hr>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
