<%= form_for @role, :html => {:class => "role_form"} do |f| %>
	<div class="form-group">
		<%= f.label :name, "Name:" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control form-control-user", placeholder: "Enter Role's Name.." %>
  </div>
  <%= f.submit (action_name == "new" ? "Create Role" : "Update Role"), class: "btn btn-primary btn-user btn-block" %>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		$('.role_form').validate({
			rules: {
				'role[name]': 'required'
			},
			messages: {
				'role[name]': 'This field is required'
			},
	  	submitHandler: function(form) {
		    form.submit();
		  }
		});
	})
</script>