/*.select2-hidden-accessible, .select2-container{
  width: 100% !important;
  height: calc(1.5em + .75rem + 2px) !important;
  padding: .375rem .75rem !important;
  border: 1px solid #d1d3e2 !important;
}*/
a {
  transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #d1d3e2 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #4e73df;
  color: #FFF;
  font-size: 16px;
  margin-top: 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #FFF;
}

.error {
  color: red;
  width: 100%;
  line-height: 1.5;
}

label.error {
  font-size: 12px;
  margin-bottom: 0px;
}

input.error {
  border-color: red;
  font-size: 1rem;
}

.select2-container--default .select2-selection--multiple.error {
  border-color: red !important;
}

.select2-selection__rendered {
  display: block !important;
  /*height: calc(1.5em + .75rem + 2px);*/
  padding: .375rem .75rem !important;
}

.select2-search__field {
  margin-top: 0px !important;
  color: #6e707e !important;
  font-size: 1rem !important;
  line-height: 26px;
  display: block;
}

.openRoleModel {
  background: #858796;
  border-radius: 2px;
  color: #FFF;
  padding: 2px 10px;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  opacity: 0.9;
}

.openRoleModel:hover {
  color: #FFF;
  opacity: 1;
}

.openRoleModel i {
  margin-right: 4px;
}

.loaderWrapper {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  display: none;
  z-index: 9999;
}

.loaderWrapper img {
  max-width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-group > label{
  display: block;
  width: 100%;
}

.selectFormControl{
  margin-bottom: 5px;
}

.selectFormControl label{
  margin-bottom: 0px;
  margin-left: 5px;
}

.permissionCard .card-header{
  padding: 5px 5px 0px 5px;
  border-bottom: 0px;
  background: #428bca;
}
.permissionCard .card-body{
  padding: 5px;
}
.permissionCard .nav-tabs{
  border-bottom: none;
}

.permissionCard .nav-tabs .nav-item{
  margin-bottom: 0px;
}

.permissionCard .nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.permissionCard .nav-tabs .nav-link:focus, .permissionCard .nav-tabs .nav-link:hover{
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}

.permissionCard .nav-tabs .nav-item.show .nav-link, .permissionCard .nav-tabs .nav-link.active{
  color: #4e73df;
  background-color: #fff;
  border-color: #4e73df;
  border-bottom-color: transparent;
}

.permissionCard .nav-tabs > li > a, .permissionCard .nav-tabs > li > a:hover, .permissionCard .nav-tabs > li > a:focus{
  color: #FFF;
}

.error-box {
    height: 100vh;
}

.bg-gradient-primary .error-text{
  color: #FFF;
}

.bg-gradient-primary .lead{
  color: #FFF !important;
}

.rounded-circle{
  border: 1px solid #eaeaea;
  background: #eaeaea;
}