<%= form_for @category, :html => {:class => "category_form"} do |f| %>
	<div class="form-group">
		<%= f.label :name, "Name:" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control form-control-user", placeholder: "Enter Category's Name.." %>
  </div>

  <div class="form-group">
  	<%= f.label :description, "Description:" %>
    <%= f.text_field :description, autofocus: true, autocomplete: "name", class: "form-control form-control-user", placeholder: "Enter Category's Description.." %>
  </div>

  <div class="form-group">
  	<%= f.label :parent_id, class: "d-flex justify-content-between" do %>
  		Parent Category:
  		<%#= link_to "#", 'data-toggle': "modal", 'data-target': "#addRoleModal", class: "openRoleModel" do %>
  			<!-- <i class="fas fa-plus fa-sm"></i>Add Role -->
  		<%# end %>
  	<% end %>
  	<%= f.select :parent_id, (action_name == "new" ? get_select_categories : get_select_categories_without_selected(@category)), { include_blank: false }, class: "form-control form-control-user select2-offscreen" %>
  </div>
  <%= f.submit (action_name == "new" ? "Create Category" : "Update Category"), class: "btn btn-primary btn-user btn-block" %>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		$('.category_form').validate({
			rules: {
				'category[name]': 'required'
			},
			messages: {
				'category[name]': 'This field is required'
			},
	  	submitHandler: function(form) {
		    form.submit();
		  }
		});
	})
</script>