<%= form_for @product, :html => {:class => "product_form"} do |f| %>
	<div class="form-group">
		<%= f.label :name, "Name:" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control form-control-user", placeholder: "Enter Product's Name.." %>
  </div>

  <div class="form-group">
  	<%= f.label :description, "Description:" %>
    <%= f.text_field :description, autofocus: true, autocomplete: "description", class: "form-control form-control-user", placeholder: "Enter Product's Description.." %>
  </div>

  <div class="form-group">
    <%= f.label :price, "Price:" %>
    <%= f.text_field :price, autofocus: true, autocomplete: "price", class: "form-control form-control-user", placeholder: "Enter Product's Price.." %>
  </div>

  <div class="form-group">
    <%= f.label :category_ids, "Categories:" %>
    <%= f.select :category_ids, get_select_categories, { include_blank: false }, prompt: "Select Categories", class: "form-control form-control-user select2-offscreen", id: "select_categories", multiple: "multiple" %>
  </div>

  <%= f.submit (action_name == "new" ? "Create Product" : "Update Product"), class: "btn btn-primary btn-user btn-block" %>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		var validobj = $('.product_form').validate({
      errorClass: "error",
			rules: {
				'product[name]': 'required',
        'product[description]': 'required',
        'product[price]': 'required',
        'product[category_ids][]': 'required'
			},
			messages: {
				'product[name]': 'This field is required',
        'product[description]': 'This field is required',
        'product[price]': 'This field is required',
        'product[category_ids][]': 'Please select some categories'
			},
      errorPlacement: function (error, element) {
        var elem = $(element);
        if(elem.attr('name') == "product[category_ids][]"){
          error.insertAfter(element.siblings(".select2"))
        }else{
          error.insertAfter(element);
        }
      },
      highlight: function (element, errorClass, validClass) {
        var elem = $(element);
        if(elem.hasClass("select2-offscreen")) {
          elem.siblings(".select2").find(".select2-selection").addClass(errorClass);
        }else {
          elem.addClass(errorClass);
        }
      },
      unhighlight: function (element, errorClass, validClass) {
        var elem = $(element);
        if(elem.hasClass("select2-offscreen")) {
          elem.siblings(".select2").find(".select2-selection").removeClass(errorClass);
        }else {
          elem.removeClass(errorClass);
        }
      },
	  	submitHandler: function(form) {
		    form.submit();
		  }
		});

    $(document).on("change", ".select2-offscreen", function () {
      if (!$.isEmptyObject(validobj.submitted)) {
        validobj.form();
      }
    });

    $("#select_categories").select2({
      placeholder: "Select categories"
    });
	})
</script>