<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">All Products</h1>
  <% if have_permission(new_product_path) %>
    <%= link_to new_product_path, class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
      <i class="fas fa-user-plus fa-sm text-white-50"></i> Create Product
    <% end %>
  <% end %>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">All Products</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Categories</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Categories</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= check_presence(product.name) %></td>
              <td><%= check_presence(product.description) %></td>
              <td><%= check_presence(product.price) %></td>
              <td><%= check_presence(remove_trailing_comma(get_product_categories(product))) %></td>
              <td>
                <% if have_permission(edit_product_path(product)) %>
                  <%= link_to edit_product_path(product), 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Edit" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                <% end %>

                <%#= link_to employee_path(user), 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Show" do %>
                  <!-- <i class="fas fa-eye"></i> -->
                <%# end %> 
                <% if have_permission(product_path(product), "DELETE") %>
                  <%= link_to product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Delete" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
