<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Role Management</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <%= yield %>
    </div>
    <script type="text/javascript">
      $.notify.defaults({globalPosition: 'top center'});
      <% if flash[:notice].present? %>
        $.notify("<%= flash[:notice] %>" , "success");
      <% elsif flash[:error].present? %>
        $.notify("<%= flash[:error] %>" , "error");
      <% elsif flash[:alert].present? %>
        $.notify("<%= flash[:alert] %>" , "warn");
      <% elsif flash[:info].present? %>
        $.notify("<%= flash[:info] %>" , "info");
      <% end %> 
    </script>
  </body>
</html>
